<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">
            New Campground
        </h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" novalidate class="validated-form"  enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-lable" for="title"><b>title</b></label>
                    <input class="form-control" type="text" name="campground[title]" id="title" required>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="location"><b>Location</b></label>
                    <input class="form-control" type="text" name="campground[location]" id="location" required>
                </div>
                <input type="file" name="image" id="" multiple>
                <!-- <div class="mb-3">
                    <label class="form-lable" for="image"><b>Image Url</b></label>
                    <input class="form-control" type="text" name="campground[image]" id="location" required>
                </div> -->
                <div class="mb-3">
                    <label class="form-lable" for="price"><b>Price</b></label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" placeholder="0.0" id="price" aria-label="price"
                            aria-describedby="" name="campground[price]" required>
                    </div>

                </div>

                <div class="mb-3">
                    <label class="form-lable" for="description"><b>description</b></label>
                    <textarea class="form-control" type="text" name="campground[description]" id="location" required></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add campground</button>

                </div>

            </form>

        </div>
    </div>